/* global */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica , sans-serif; }

/* header */
.header {
  padding: 35px 0;
  color: #fff;
  text-align: center;
  background: #20232a; }

.banner-logo {
  display: block;
  margin: auto;
  width: 70px; }

.banner-title {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 50px; }

/* content */
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  color: black;
  text-align: center; }

.subtitle {
  font-size: 24px;
  text-align: center; }

.wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px; }

.image-block {
  margin-top: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.image-wrapper, .predict-info {
  width: 50%; }

.predict-info {
  margin-left: 20px; }

#image-preview {
  width: 100%; }

/* github link */
.fork-me-on-github {
  position: absolute;
  top: 0;
  right: 0; }

/* common */
.btn {
  display: inline-block;
  padding: 7px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  -webkit-transition: background-color .2s;
  transition: background-color .2s; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:hover {
  background-color: #1eb846; }

.page-wrapper {
  width: 60%;
  margin: auto; }

.tempo-form-and-metronome-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Message block styles */
.messages {
  font-weight: bold;
  color: red; }

.messages audio {
  outline: none; }

/* Preloader block styles */
.at-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Metronome button styles */
.metronome-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  cursor: pointer; }

.metronome-icon {
  margin-right: 5px; }

/* Control buttons styles */
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 500px; }

.control-btn {
  min-width: 190px;
  margin: 20px 10px;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 20px;
  background: transparent;
  border: 2px solid grey;
  outline: none;
  cursor: pointer; }

.active-btn {
  border-color: red; }

/* Tempo form styles */
.at-content {
  margin: auto;
  margin-bottom: 30px; }

.at-viewport {
  overflow: auto; }

/* Tempo form styles */
.tempo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }

.tempo-label {
  margin-right: 5px; }

.tempo-input {
  width: 40px;
  margin-right: 5px;
  text-align: center; }

.tempo-submit-btn {
  padding: 0;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline-color: lightgray; }

/* Player bar styles */
.at-cursor-bar {
  /* Defines the color of the bar background when a bar is played */
  background: rgba(255, 242, 0, 0.25); }

.at-selection div {
  /* Defines the color of the selection background */
  background: rgba(64, 64, 255, 0.1); }

.at-cursor-beat {
  /* Defines the beat cursor */
  background: rgba(64, 64, 255, 0.75);
  width: 3px; }

.at-highlight * {
  /* Defines the color of the music symbols when they are being played (svg) */
  fill: #0078ff;
  stroke: #0078ff; }

.hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  overflow-y: hidden;
  margin-bottom: 25px;
  min-height: 300px;
  border-bottom: 4px solid #fe3e09; }
  .hint div {
    font-weight: bold; }
  .hint p {
    z-index: 5; }

.hint__left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  border-right: 1px solid #fe3e09;
  text-align: center; }

.hint__center-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  text-align: center; }

.hint__right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  border-left: 1px solid #fe3e09;
  text-align: center; }

.effect {
  width: auto;
  text-align: center;
  height: 100%;
  padding: 0 20px; }

.animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  color: green; }

.hint__left {
  min-height: 80px;
  height: 100%;
  position: relative;
  border-top: 1px solid #fe3e09; }
  .hint__left div {
    text-align: center;
    width: 100%; }

.hint__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  border-top: 1px solid #fe3e09; }
  .hint__center div {
    text-align: center;
    padding: 0 20px; }

.hint__right {
  min-height: 80px;
  height: 100%;
  position: relative;
  border-top: 1px solid #fe3e09; }
  .hint__right div {
    text-align: center;
    width: 100%; }

@-webkit-keyframes moveDown {
  0% {
    top: -100%;
    opacity: 0; }
  10% {
    top: 0%;
    opacity: 0; }
  88% {
    top: 100%;
    opacity: 1; }
  100% {
    top: 105%;
    opacity: 0; } }

@keyframes moveDown {
  0% {
    top: -100%;
    opacity: 0; }
  10% {
    top: 0%;
    opacity: 0; }
  88% {
    top: 100%;
    opacity: 1; }
  100% {
    top: 105%;
    opacity: 0; } }
